
/* font-link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* body */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
    background:url("Sambhnadabg.png");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}

/* parent container - loginpage */

.loginpage{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.left , .right, form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* left part */

.left{
    width: 500px;
    align-items:flex-start;
}

.left h1{
   font-size: 60px;
   color:rgb(222, 58, 85);
   
}

.left p{
    font-size: 20px;
    color:#283048;
    height: 90px;
   
}

/* right part */

.right{
    width: 400px;
}

form{
    /* background-color: #f5abbb; */
    width: 400px;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),0 6px 20px 0 rgba(0,0,0,.119);
}

form input{
    width: 100%;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid rgb(243, 238, 238);
    outline: none;
    font-size: 16px;
}

.forget-password{
    margin: 5px 0 10px 0;
    text-decoration: none;
    color:#283048;
    font-size: 14px;
    width: 100%;
    text-align: right;
}

.login-btn{
    background-color:rgb(222, 58, 85);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}
.login-btn:hover{
    background-color:#283048;
    color:#fff;
}

.sign-up{
    margin-top: 20px;
    border-top: 1px solid #283048;
    width: 100%;
    display: flex;
    justify-content: center;
}
.signup-btn{
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color:#283048;
    font-size: 17px;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}
.or{
    margin-top:-10px;
    margin-bottom: 5px;
}
.or p{
    color:#283048;
}
.socailmedia{
   display: flex;
   flex-direction: column;
   
}

.socailmedia p{
    font-size: 12px;
    font-weight:500;
    text-align: center;
    color:#283048;
}
.sociallink{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 10px;
}
.sociallink .bx{
    font-size: 25px;
    transition: 0.2s;
}
.loginquote p{
  color: #283048;
}